@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        Form Front
    </h1>
    <h3> A simple platform for gathering information using forms. </h3>


     To create a new form, you need to first be registered and logged in.
     <br /> <br />
     Once logged in, you can edit and delete the forms.
</div>


