@model FormFront.Models.Form

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Form</h4>
<hr />
<div class="row" >
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Password" class="form-label mt-4"> Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="ConfirmPassword" class="form-label mt-4"> Confirm Password</label>
                <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
            </div>


            <div class="form-group">
                <label for="Country" class="form-label mt-4"> Country </label>
                <select class="form-select" id="Country">
                    <option> South Africa</option>
                    <option> Lesotho </option>
                    <option> Botswana </option>
                    <option> Namibia </option>
                    <option> Malawi </option>
                    <option> Mozambique </option>
                    <option> Zambia </option>
                    <option> Zimbabwe </option>
                    <option> Nigeria </option>
                    <option> Kenya </option>
                </select>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="FavouriteColour" class="control-label"></label>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="FavouriteColour" id="Red" value="Red" checked="">
                        Red
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="FavouriteColour" id="Blue" value="Blue" checked="">
                        Blue
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="FavouriteColour" id="Green" value="Green" checked="">
                        Green
                    </label>
                </div>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
